*{
    font-family: "Inter", sans-serif;
    font-weight: 150;
    font-size: 32px;
    line-height: 50px;
}

body{
    background-color: #E5E5E5;
}

li{
    display: inline-block;
    /*text-align: center;*/
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px
}

main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto{
    margin-top: 90px;
    color: #495057;
    border-radius: 10px;
}

.mensaje{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("imagenes/Muneco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    border-radius: 10px;
}

.botonCopiar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.copiar{
    margin-left: 50%;
    border-radius: 10px;
}

.botones{
    margin-left: 25%;
    display: flex;
    flex-direction: row ;
    margin-top: 20px;
}
.encriptar{
    background-color: darkblue;
    color: white;
    border-radius: 10px;
}

.desencriptar{
    margin-left: 30px;
    border-radius: 10px;
}

nav button:hover{/*captura movimiento de mause*/
    color: #C78C19;
    font-size: 40px;
}

nav :active{
    border-color: #fd0c0c;
}

.informacion{
    font-size: 15px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #000000;
    font-size: 13px;
    margin: 20px;
}
